:root {
    --primary: #011238;
    --secondary: #124d7a;
    --accent: #BC9C63;
    ;
    --bg: #eef2f6;
    --card: #ffffff;
    --text: #2c2c2c;
    --muted: rgb(60, 60, 61);
    --caramelo: #D2AE6D;
    --vermelho: #e63946;
    --cinza: #A9ABAE;
    --azul-escuro: #263868;
    --azul-claro: #0096D1;
    --branco: #fefefe;
    --preto: #000000;


    * {
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }


    body {
        margin: 0;
        font-family: 'Barlow', sans-serif;
        background: var(--bg);
        color: var(--text);
    }


    /* HEADER MOBILE */
    .header {
        display: none;
        background: linear-gradient(180deg, var(--primary), #071e30);
        color: #fff;
        padding: 16px 20px;
        align-items: center;
        justify-content: space-between;
    }

    .header h1 {
        font-size: 16px;
        margin: 0;
    }

    .menu-btn {
        font-size: 22px;
        cursor: pointer;
        background: none;
        border: none;
        color: #fff;
    }

    /* LAYOUT */
    .wrapper {
        display: flex;
        min-height: 100vh;
    }

    /* SIDEBAR */
    .sidebar {
        width: 280px;
        background: linear-gradient(180deg, #011238, #124d7a);
        color: #fff;
        padding: 25px 20px;
        position: fixed;
        height: 100%;
        overflow-y: auto;
    }

    .title {
        color: var(--accent);
        font-size: 90px;

    }

    .sidebar h2 {

        font-size: 18px;
        margin-bottom: 6px;
    }

    .sidebar span {
        font-size: 13px;
        color: #cfd8e3;


    }

    .sidebar nav {
        margin-top: 25px;
    }

    .sidebar nav a {
        display: block;
        padding: 10px 10px;
        margin-bottom: 6px;
        border-radius: 8px;
        color: #e5e7eb;
        text-decoration: none;
        font-size: 14px;
    }

    .sidebar nav a:hover {
        background: #BC9C63;
        font-weight: 900;

    }

    /* CONTEÚDO */
    .content {
        margin-left: 280px;
        padding: 32px;
        width: 100%;
    }

    section {
        background: var(--card);
        border-radius: 12px;
        padding: 26px;
        margin-bottom: 28px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);

        border: 1px solid #BC9C63;
        /* linha fina */
        scroll-margin-top:80px;
    }

    h2 {
        margin-top: 0;
        color: var(--primary);
    }

    h3 {
        color: var(--azul-claro);


    }

    p {
        color: var(--muted);
        line-height: 1.6;
    }

    /*linhas usadas como separadores */
    hr {
        border: none;
        border-top: 1px solid #3630242d;
        margin: 20px 0;
    }

    b {
        font-weight: 600;
        background-color: #8586880e;
        /* fundo suave */
        padding: 1px 2px;
        border-radius: 4px;
        text-decoration-thickness: 2px;
        color: #161616;
        
    }

    .marcador {
        margin-left: -20px;
        color: var(--muted);
        line-height: 1.6;
    }

    .badge {
        display: inline-block;
        background: var(--accent);
        color: #fff;
        padding: 4px 12px;
        border-radius: 999px;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .alert {
        background: #e639471e;
        border-left: 5px solid var(--vermelho);
        padding: 20px;
        border-radius: 10px;
        margin-top: 20px;
        margin-left: inherit;
        margin-right: inherit;
    }

    blockquote {
        background: #f1f5f9;
        border-left: 5px solid var(--accent);
        padding: 20px;
        border-radius: 10px;
        color: #374151;
        margin-left: inherit;
        margin-right: inherit;
    }

    /* FOOTER */
    footer {
        text-align: center;
        font-size: 13px;
        color: var(--muted);
        margin: 40px 0 10px;
    }

    .titulo-com-imagem {
        display: flex;
        align-items: center;
        /* alinha verticalmente */
        gap: 16px;
        /* espaço entre título e imagem */
    }

    .livro-ata {
        width: 300px;
        height: auto;

    }

    /* Botão */
    .btn-ver-imagem {
        margin: 3px 0;
        padding: 10px 14px;
        border: none;
        background: var(--azul-escuro);
        color: #fff;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
        font-family: 'barlow', sans-serif;

        display: inline-flex;
        align-items: center;
        gap: 8px; /* espaço entre ícone e texto */
    }

    .btn-ver-imagem:hover {
        background: var(--azul-claro);

    }

    /* Modal */
    .modal {
        display: none;
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.75);
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

    /* Imagem no modal */
    .modal img {
        max-width: 70%;
        max-height: 90%;
        border-radius: 10px;
        border: 0.5px solid var(--azul-claro);
    }

    .download-apps {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .app-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
    }

    .app-button img {
        height: 40px;
        width: auto;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        border-radius: 5px;
    }

    .app-button:hover img {
        transform: translateY(-3px);
        box-shadow: 0 8px 18px #253767;
        border-radius: 5px;
    }

    .app-legend {
        font-size: 0.85rem;
        color: #555;
        text-align: center;
        max-width: 220px;
    }

    .download-apps {
        display: flex;
        gap: 30px;
        align-items: flex-start;
        justify-content: left;
        /* centraliza */
        flex-wrap: nowrap;
        /* NÃO deixa quebrar linha */
    }

    /* MOBILE */
    @media (max-width: 900px) {

        .header {
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 64px;
            /* defina a altura */
            z-index: 1100;
            background: var(--header-bg, #011238);
            border-bottom: 2px solid #BC9C63;
            border-radius: 2px solid #BC9C63;
        }

        .sidebar {
            position: fixed;
            left: -100%;
            top: 0;
            width: 260px;
            transition: left 0.9s;
            z-index: 1000;
            padding: auto;
        }

        .sidebar.active {
            left: 0;
            padding-top: 84px;
        }

        .content {
            margin-left: 0;
            padding: 12px;
            padding-top: 84px;

        }

        .titulo-com-imagem {
            flex-direction: column;
            align-items: flex-start;
        }

        .livro-ata {
            width: 100%;
            height: auto;

        }

        .download-apps {
            display: flex;
            gap: 30px;
            align-items: flex-start;
            justify-content: center;
            /* centraliza */
            flex-wrap: nowrap;
            /* NÃO deixa quebrar linha */
        }
    }

    .app-button img {
        height: 35px;
        border-radius: 5px;
    }

    .app-legend {
        font-size: 12px;
        color: #555;
        text-align: center;
        max-width: 220px;
    }
}
